
<div class="container">

  <div class="col-sm-10 welcome">
      <h2>Welcome to Tamaringa</h2>
  </div>

  <div class="col-sm-10">
  <form>

    <div class="form-group col-md-10" >
      <label for="usr">Email:</label>
      <input type="text" class="form-control" id="usr">
    </div>
    <div class="form-group col-md-10">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd">
    </div>
  </form>
  </div>
  <div class="col-sm-10">
    <div class="col-sm-3" align="center" >
      <a routerLink="/detective"><button class="btn btn-default btn-lg detective">חוקר</button></a>
    </div>

    <div class="col-sm-4" align="center">
      <a routerLink="/patient"><button class="btn btn-default btn-lg patient">לקוח</button></a>
    </div>

    <div class="col-sm-3" align="center">
      <a routerLink="/admin"><button class="btn btn-default btn-lg admin">אדמין</button></a>
    </div>

  </div>

  </div>
