<p> ברוך הבא {{customer_name}} להלן תכנים בשבילך</p>
<div >
  <div class="col-md-2 btn-group-vertical" >
    <div class="col-ms-4 ">
      <button type="button" class="btn btn-default btn-lg">תכנים בשבילך</button>
    </div>

    <div class="col-ms-4">
      <button class="btn btn-default btn-lg">שירים עם תמונות</button>
    </div>

    <div class="col-ms-4">
      <button type="button" class="btn btn-default btn-lg">שירים לפי נושא</button>
    </div>

    <div class="col-ms-4">
      <button type="button" class="btn btn-default btn-lg">ניהול תכנים ועזרה</button>
    </div>
  </div>

  <div class="col-md-8">
    videos
  </div>
  <div class="col-md-2">
    rating
  </div>
</div>
